# -------------------------------------------------------------------------
# Miscellaneous & OS
# -------------------------------------------------------------------------
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.class
*.log
*.pyc
*.swp
*.swo
*~
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# -------------------------------------------------------------------------
# Flutter & Dart Tools / Cache
# -------------------------------------------------------------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/
**/doc/api/
flutter_*.log

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# -------------------------------------------------------------------------
# IDEs and Editors
# -------------------------------------------------------------------------
# IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws

# Visual Studio Code
.vscode/

# -------------------------------------------------------------------------
# Android
# -------------------------------------------------------------------------
android/.gradle/
android/local.properties
android/key.properties
android/captures/
android/**/GeneratedPluginRegistrant.java
android/gradlew
android/gradlew.bat
android/gradle/wrapper/gradle-wrapper.jar
*.jks
*.keystore
/android/app/debug
/android/app/profile
/android/app/release

# -------------------------------------------------------------------------
# iOS & macOS
# -------------------------------------------------------------------------
**/ios/Flutter/.last_build_id
ios/Flutter/Generated.xcconfig
ios/Flutter/app.framework
ios/Flutter/flutter_assets
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
ios/Pods/
ios/.symlinks/
ios/Podfile.lock

macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.h
macos/Flutter/GeneratedPluginRegistrant.m
macos/Pods/
macos/.symlinks/
macos/Podfile.lock

*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
DerivedData/

# -------------------------------------------------------------------------
# Linux & Windows
# -------------------------------------------------------------------------
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# -------------------------------------------------------------------------
# Environment & Secrets & Local Databases
# -------------------------------------------------------------------------
.env
.env.*
*.env
*.pem
*.key
*.db
*.sqlite
*.sqlite3
*.db-journal
*.sqlite-journal
